.chitiettuyendung{
  &__section{
    @include media-breakpoint-up('m'){
      padding-top: 40px !important;
    }
  }
  &__card-dc{
    background: #FFFFFF;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.12);
    border-radius: 0;
    padding: 15px;
    @include media-breakpoint-up('m'){
      padding: 24px;
      border-radius: 10px;
    }
  }
  &__cardLeft{
    @extend .chitiettuyendung__card-dc;
    margin-left: -15px;
    margin-right: -15px;
    @include media-breakpoint-up('m'){
      margin-left: 0;
      margin-right: 0;
    }
    >*{
      $x:15px;
      &:nth-child(n+2){
        padding-top: #{$x};
        margin-top: #{$x};
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        $x:24px;
        @include media-breakpoint-up('m'){
          padding-top: #{$x};
          margin-top: #{$x};
        }
      }
    }
    &__txt{
      @extend .fz-14;
      color: #888888;
      line-height: 1.5;
      font-family: $font-Mulish-Regular;
    }
    &__article{
      p{
        @extend .chitiettuyendung__cardLeft__txt;
        margin: 0;
        &:nth-child(n+2){
          margin-top: 15px;
        }
      }
    }
  }
  &__cardRight{
    @extend .chitiettuyendung__card-dc;
    border-radius: 10px;
    >*{
      $x:10px;
      &:nth-child(n+2){
        padding-top: #{$x};
        margin-top: #{$x};
        border-top: 1px solid rgba(0, 0, 0, 0.1);
      }
    }
    &__title{
      margin: 0;
      color: #212121;
      @extend .fz-16;
      line-height: 1.5;
      text-transform: uppercase;
    }
    &__table{
      margin: 0;
      tr{
        >*{
          text-transform: inherit;
          &:first-child{
            padding-left: 0;
            color: #212121;
            @extend .fz-14;
            font-family: $font-Mulish-Bold;
          }
          &:last-child{
            @extend .fz-14;
            color: #888888;
            font-family: $font-Mulish-Regular;
          }
        }
      }
    }
  }
}