.chitiettintuc{
  &__section{

  }
  &__card{
    background: #FFFFFF;
    $x:15px;
    margin-left: calc(0px - #{$x});
    margin-right: calc(0px - #{$x});
    @include media-breakpoint-up('m'){
      margin-left: 0;
      margin-right: 0;
      border: 1px solid #EEEEEE;
      border-radius: 8px;
    }
    &__body{
      padding: 15px;
      padding-bottom: 5px;
      @include media-breakpoint-up('m'){
        padding: 24px;
        padding-bottom: 8px;
      }
    }
  }
  &__title{
    margin-bottom: 12px;
    color: #212121;
    @extend .fz-18;
    line-height: (27/18);
    font-family: $font-Mulish-Bold;
  }
  &__article{
    p{
      color: #888888;
      @extend .fz-14;
      line-height: (21/14);
      font-family: $font-Mulish-Regular;
    }
  }
  &__item8{
    $x:8px;
    margin: 0;
    &:nth-child(n+2){
      margin-top: #{$x};
    }
  }
  &__box1{
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    padding-top: 16px;
    padding-bottom: 16px;
    a{
      color: #52B4F3;
      line-height: 1.5;
      @extend .fz-14;
      font-family: $font-Mulish-Bold;
    }
  }
  &__boxComment{
    &__titleName{
      color: #212121;
      line-height: 1.5;
      @extend .fz-14;
      font-family: $font-Mulish-Bold;
    }
    $x:24px;
    padding-top: #{$x};
    padding-bottom: #{$x};
    $color:rgba(0, 0, 0, 0.1);
    border-top: 1px solid #{$color};
    border-bottom: 1px solid #{$color};
    &__input{
      @extend .chitiettintuc__boxComment__dc;
      $y:38px;
      height: #{$y};
    }
    &__dc{
      background: #FFFFFF;
      border: 1px solid #EEEEEE;
      box-sizing: border-box;
      border-radius: 4px;
      color: #888888;
      @extend .fz-14;
    }
    &__textarea{
      @extend .chitiettintuc__boxComment__dc;
    }
    &__column{
      &.uk-grid-margin{
        @include media-breakpoint-up('m'){
          margin-top: 16px !important;
        }
      }
    }
    &__label{
      padding-left: 25px;
      position: relative;
      display: block;
      @include media-breakpoint-up('m'){
        padding-left: 30px;
      }
    }
    &__check{
      position: absolute;
      top: 8px;
      left: 0;
    }
    &__checkTxt{
      line-height: 1.5;
      @extend .fz-14;
      color: #212121;
    }
    &__btn{
      background: #52B4F3;
      border-radius: 8px;
      $y:38px;
      line-height: calc(#{$y} - 2px);
      text-transform: inherit;
      color: #FFFFFF;
      .dathang__section &{
        @include media-breakpoint-up('m'){
          min-width: 284px;
        }
      }
      >*{
        @extend .fz-14;
        line-height: (21/14);
        font-family: $font-Mulish-SemiBold;
      }
    }
  }
}