.tuyendung{
  &__section{
    background: #F9F9F9;
    padding-bottom: 24px;
    @include media-breakpoint-up('m'){
      padding-bottom: 60px;
    }
  }
  &__section1{
    @include media-breakpoint-up('m'){
      padding-top: 60px;
      padding-bottom: 60px;
    }
    .uk-container-small{
      max-width: 1070px !important;
    }
    &__card{
      background: #FFFFFF;
      border: 1px solid #EEEEEE;
      border-radius: 8px;

      padding: 24px 16px;
      @include media-breakpoint-up('m'){
        padding: 40px 110px;
      }
    }
    &__boxFile{
      background: #F9F9F9;
      border-radius: 6px;
      min-height: 44px;
      display: flex;
      align-items: center;
      justify-content: center;
      span{
        display: inline-block;
        padding-left: 20px;
        background-image: url("data:image/svg+xml,%3Csvg width='12' height='16' viewBox='0 0 12 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 4.25V0H0.75C0.3125 0 0 0.34375 0 0.75V15.25C0 15.6875 0.3125 16 0.75 16H11.25C11.6562 16 12 15.6875 12 15.25V5H7.75C7.3125 5 7 4.6875 7 4.25ZM9.03125 11.0312H7V13.5312C7 13.7812 6.75 14.0312 6.5 14.0312H5.5C5.21875 14.0312 5 13.7812 5 13.5312V11.0312H2.9375C2.5 11.0312 2.28125 10.4688 2.59375 10.1562L5.59375 7.15625C5.8125 6.96875 6.15625 6.96875 6.375 7.15625L9.375 10.1562C9.6875 10.4688 9.46875 11.0312 9.03125 11.0312ZM11.7812 3.28125L8.71875 0.21875C8.5625 0.09375 8.375 0 8.1875 0H8V4H12V3.8125C12 3.625 11.9062 3.4375 11.7812 3.28125Z' fill='%23888888'/%3E%3C/svg%3E%0A");
        background-position: center left;
        background-repeat: no-repeat;
        color: #888888;
        line-height: (24/16);
        @extend .fz-16;
      }
    }
  }
  &__card{
    padding: 15px;
    $x:15px;
    margin-left: calc(0px - #{$x});
    margin-right: calc(0px - #{$x});
    background: #FFFFFF;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.12);
    @include media-breakpoint-up('m'){
      padding: 24px 15px;
      margin-left: 0;
      margin-right: 0;
      border-radius: 10px;
      margin-top: -43px;
    }
  }
  &__table{
    tr{
      td{
        padding-left: 0;
        padding-right: 0;
        &:last-child{
          @include media-breakpoint-up('m'){
            text-align: right;
          }
        }
      }
    }
    &__map{
      padding-left: 20px;
      background-image: url("data:image/svg+xml,%3Csvg width='12' height='17' viewBox='0 0 12 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.375 15.6875C5.65625 16.125 6.3125 16.125 6.59375 15.6875C11.1562 9.125 12 8.4375 12 6C12 2.6875 9.3125 0 6 0C2.65625 0 0 2.6875 0 6C0 8.4375 0.8125 9.125 5.375 15.6875ZM6 8.5C4.59375 8.5 3.5 7.40625 3.5 6C3.5 4.625 4.59375 3.5 6 3.5C7.375 3.5 8.5 4.625 8.5 6C8.5 7.40625 7.375 8.5 6 8.5Z' fill='%23888888'/%3E%3C/svg%3E%0A");
      background-repeat: no-repeat;
      background-position: center left;
    }
    &__catalog{
      background-image: url("data:image/svg+xml,%3Csvg width='16' height='14' viewBox='0 0 16 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4 14H12V1.5C12 0.6875 11.3125 0 10.5 0H5.5C4.65625 0 4 0.6875 4 1.5V14ZM6 2H10V3H6V2ZM16 4.5C16 3.6875 15.3125 3 14.5 3H13V14H14.5C15.3125 14 16 13.3438 16 12.5V4.5ZM3 14V3H1.5C0.65625 3 0 3.6875 0 4.5V12.5C0 13.3438 0.65625 14 1.5 14H3Z' fill='%23888888'/%3E%3C/svg%3E%0A");
      padding-left: 25px;
      background-repeat: no-repeat;
      background-position: center left;
    }
    &__txt{
      line-height: (24/16);
      @extend .fz-16;
      color: #888888;
      font-family: $font-Mulish-Regular;
    }
    &__title{
      color: #2B2B2B;
      line-height: (24/16);
      @extend .fz-16;
      font-family: $font-Mulish-SemiBold;
      a{
        color: #2B2B2B;
      }
    }
    &__btn{
      text-transform: inherit;
      background: #FFFFFF;
      border: 1px solid #EEEEEE;
      box-sizing: border-box;
      border-radius: 8px;
      color: #52B4F3;
      $x:38px;
      line-height: calc(#{$x} - 2px);
      padding: 0 16px;
      width: 100%;
      @include media-breakpoint-up('m'){
        width: inherit;
      }
      &:hover{
        background: #52B4F3;
        border-color: #52B4F3;
        color: #FFFFFF;
      }
      >*{
        line-height: 1.5;
        @extend .fz-14;
        font-family: $font-Mulish-SemiBold;
      }
    }
  }
}